<nav class="px-12">
  <ol class="flex gap-2 text-sm">
      <li class="flex items-center gap-2">
        <span class="text-[13px] font-semibold text-[#1A8FF1]">Inicio  </span> <span> <img [src]="image" alt="icon-right" class="max-w-[12px]"></span>
        <span class="text-[13px] font-semibold text-[#1A8FF1]"> Farmacia  </span> <span> <img [src]="image" alt="icon-right" class="max-w-[12px]"></span>
        <span class="text-[13px] font-semibold text-[#354159]">Gripe </span>
      </li>
  </ol>
</nav>
