<div class="p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 bg-white">
    <div class="flex flex-col gap-4 py-4">
        <h1 class="text-[#354159] text-[16px] font-semibold">Title</h1>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>
    </div>
    <div class="flex flex-col gap-4 py-4">
        <h1 class="text-[#354159] text-[16x] font-semibold">Title</h1>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal"> Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>
    </div>
    <div class="flex flex-col gap-4 py-4">
        <h1 class="text-[#354159] text-[16px] font-semibold">Title</h1>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>

        <p class="text-[#354159] text-[14px] font-normal">Content</p>
    </div>
    <div class="flex flex-col gap-4 py-4">
        <h1 class="text-[#354159] text-[16px] font-semibold">Síguenos en</h1>

        <p>Content</p>
        <div class="flex gap-3">
            <div class="bg-[#17A15B] w-[32px] p-2 rounded-lg">
                <img src="/products/FacebookSquare.svg" alt="facesbook" class="">
            </div>
            <div class="bg-[#17A15B] w-[32px] p-2 rounded-lg">
                <img src="/products/Instagram.svg" alt="instagram" class="">
            </div>
        </div>

        <p class="text-[#354159] text-[16px] font-semibold">Libro de reclamaciones</p>

        <img src="/products/reclamaciones.svg" alt="instagram" class="w-[96px]">

        <p class="text-[#354159] text-[16px] font-semibold">Descarga nuestra app en</p>

        <div class="flex gap-3">
            <div class="flex w-[151px] p-2 gap-2 border rounded-3xl justify-center">
                <img src="/products/SocialMediaGoogle.svg" alt="facesbook" class=""> <span>Google Play</span>
            </div>
            <div class="flex gap-2 w-[151px] p-2 border rounded-3xl justify-center">
                <img src="/products/SocialMediaApple.svg" alt="instagram" class=""> <span>App Store</span>
            </div>
        </div>

    </div>
</div>
<div class="text-center px-3 py-6 bg-[#F8F8F8]">
    <p class="font-normal text-[14px] text-[#354159]">Copyright © Inkafarma 2026 Todos los derechos reservados</p>
</div>